.container {
    text-align:center;
    font-size: 35px;
    font-style: normal; 
    
}
.header {
    background-color: #333;
    padding: 10px 0;
    
}
/* Estilos para a barra de navegação */
.navbar ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #555;
    display: flex; /* Alterando para flexbox */
}

.navbar ul li {
    display: inline; /* Removido este estilo */
    margin-right: 30px; 
    background-color: #555;
    /* Espaçamento entre os itens */
}
.conteinerImagem{
    display: flex;
    align-items: center;
    margin: 15px;
    
}


